{% extends 'layout.html' %}

{% block title %}
    Продолжение регистрации
{% endblock %}

{% block content %}
    <h2>Продолжение регистрации</h2>
    <div class="post_center">
        <h4>&nbsp;</h4>
        <h4>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Пожалуйста проверьте свою почту <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
            чтобы продолжить регистрацию.
        </h4>
        <p>
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          Если Вы не получили письмо, пожалуйста убедитесь, что Вы указали верный адрес
          и проверьте в почте папку для спама.
        </p>
        <h4>&nbsp;</h4>
    </div>
{% endblock %}

