{% extends 'layout.html' %}
{% load i18n %}
{% load menu_tags %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{% get_breadcrumbs_menu request.user 'album_list' as menu %}
  <div class="wrap_body">
        <div class="filter_block">
           {% include 'album/part_views/a_filters.html' %}
        </div>

        <div class="body_block">
            <div class="wrap_crud_menu">

                <div class="page_menu">
                    {% for ref in menu %}
                        <a href="{{ref.url_name}}" class="page_menu_link">{{ref.name}}</a>
                    {% endfor %}
                    {{head}}
                </div>
              
                <div class="crud_menu">
                    <a href="" class="link_item" id="filter_link">
                        <i class="fa fa-filter" aria-hidden="true"></i> {% trans 'Filters' %}
                    </a>
                </div>
                <div class="crud_menu">
                    <a href="{% url 'add_album' %}" class="link_item" id="filter_link">
                        <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'Create Album' %}
                    </a>
                </div>
            </div>

            <div class="wropper_cart_menu"  id="post_a_filter">
                {% include 'album/part_views/albums.html' %}
            </div>
        </div>

  </div>


{% endblock %}