{% extends 'layout.html' %}
{% load i18n %}
{% block title %} {{ site_name }} {{title}} {% endblock %}
{% block top_content %}

    <div class="main_img">
        <img src="/media/img/index/cap_index.png" class="main_img">
        <div class="main_text">
            <div>
                <h2>{% translate 'About the site' %}</h2>
                <p class="main_text">
                    {% blocktrans %}The website "WorldSNAP" provides an opportunity to share your memories and emotions about travels received during travels.{% endblocktrans %}
                </p>
                <p class="main_text">
                    {% blocktrans %}Create travel albums and publish your photos in the albums. Share your impressions of the places you have been. Tell us what company you were with. Enjoy your memories and be surprised by the memories of others.{% endblocktrans %}
                </p>
            </div>

        </div>
    </div>
{% endblock %}
{% block content %}
    {% include 'album/part_views/albums.html' %}
{% endblock %}