{% extends 'layout.html' %}
{% load menu_tags %}
{% load i18n %}
{% block title %} {{ site_name }} {{title}} {% endblock %}

{% block content %}
{% get_breadcrumbs_menu request.user 'photo_list' as menu %}
<div class="wrap_body">
    <div class="filter_block">
    <!-- includede 'album/filters.html'-->
    </div>
    <div class="body_block">
        <div class="wrap_crud_menu">
            <div class="page_menu">
                {% for ref in menu %}
                        <a href="{{ref.url_name}}" class="page_menu_link">{{ref.name}}</a>
                {% endfor %}
                {{head}}

                {% if alb_slug %}
                    : {{ photos.0.ph_album.a_name }}
                {% endif %}
                {% if user_photo %}
                    : {{user_photo}}
                {% endif %}
                
            </div>

            <div class="page_menu">
                {% translate 'Photos found:' %} {{photos.count}}
            </div>

            <div class="crud_menu">
                <a href="{% url 'add_photo' %}" class="link_item">
                    <i class="fa fa-download" aria-hidden="true"></i> {% translate 'Add photo' %}
                </a>
            </div>
        </div>
        {% load album_tags %}
        {% if alb_slug %}
            <div class="cont_page_menu">
                <div class="post_center">
                    <div class="crud_menu">
                        <a href="{% url 'get_album' alb_slug=photos.0.ph_album.a_slug %}" class="link_item">
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> {% translate 'More about the album' %}
                        </a>
                    </div>

                    <div class="crud_menu">
                        <a href="{% url 'gallery' alb_slug=photos.0.ph_album.a_slug %}" class="link_item">
                            <i class="fa  fa-picture-o" aria-hidden="true"></i> {% translate 'Gallery' %}
                        </a>
                    </div>

                    <p><b>{% translate 'Album:' %}</b> {{ photos.0.ph_album.a_name }}</p>
                    <p><b>{% translate 'Description:' %}</b> {{photos.0.ph_album.a_descr}}</p>
                    <p><b>{% translate 'Created by:' %}</b>
                        {% get_username photos.0.ph_album.a_author %}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="wropper_photo_menu">
            
            {%  for photo in photos %}
                <div class="photo_menu">
                    <div class="photo_item">
                        <a href="{{ photo.get_absolute_url }}">
                            <img src="{{photo.ph_file.url}}" class="photo_thumb">
                        </a>
                    </div>
                    <h3>{{photo.ph_name| truncatewords:5}}</h3>
                    <div class="link_photo">
                        {% if photo.ph_author == request.user %}
                            <a href="{% url 'edit_photo' photo_slug=photo.ph_slug %}" class="link_item2">
                                <i class="fa fa-pencil" aria-hidden="true"></i> {% translate 'Edit photo' %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}