{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{site_name}} {{title}}{% endblock %}

{% block content %}

    <div class="form_center">
        <div>
            <h3>{{head}}</h3>
        </div>
        <hr>
        <div class="user_card">
            <div class="user_left">
                <div class="avatar_container">
                    <img src="{{user.get_avatar_url}}" class="avatar">
                    <h3 class="user_name">
                        {{user.get_user_name}}
                    </h3>
                </div>
                <div class="user_menu">
                    <a href="{% url 'edit_account' %}" class="blue_button big_button">{{button}}</a>
                </div>
            </div>
            <div class="user_properties">

                <h4>{% translate 'About me' %}:</h4>
                <p>{% translate 'Username' %}: {{user.username}}</p>
                {% if user.first_name %}
                    <p>{% translate 'First Name' %}: {{user.first_name}}</p>
                {% endif %}
                {% if user.last_name %}
                    <p>{% translate 'Last Name' %}: {{user.last_name}}</p>
                {% endif %}
                <p>{% translate 'Language' %}: {{user.user_lang}}</p>
                <p>{% translate 'Birthday' %}: {{user.birthday|date:"d.m.Y"}}</p>
                <hr>
                <p>{% translate 'Email' %}: {{user.email}}</p>
                <p>{% translate 'Hide Email from other users?' %} <i class="{{user.hide_email}}"></i></p>
                <hr>
                <h4>{% translate 'Profile settings' %}:</h4>
                <p>{% translate 'Send messages?' %} <i class="{{user.send_messages}}"></i></p>
                <p>{% translate 'Joining date' %}: {{user.date_joined|date:"d.m.Y"}}</p>
                <p><a href="">{% translate 'Change password' %}</a></p>
            </div>
        </div>
        <hr>
        <div class="my_reviews">
            <h4>{% translate 'My publications' %}:</h4>
            <p><a href="{% url 'user_albums_list' user_id=user.pk %}">{% translate 'My albums' %}</a></p>
            <p><a href="{% url 'user_photo_list' user_id=user.pk %}">{% translate 'My photos' %}</a></p>
        </div>

    </div>

{% endblock %}
